{% extends 'partials/base.html.twig' %}

{% block content %}
  <main id="onegame">

    <section class="description">
      <h1>Uh-oh...</h1>

      {{ page.content }}
    </section>

  </main>
{% endblock %}
